*{
    margin: 0;
    padding: 0;
}

#header{
    background-color: #191970;
    width: 100%;
    position: fixed;
    top: 0;
    color: #ffffff;
}

#logo{
    text-align: center;
    padding-top: 20px;
    font-family: 'Madimi One', 'Tahoma';
    font-size: 3vw;
}

#menu{
    width: 100%;
    text-align: center;
    padding: 20px 0;
}

#menu li{
    list-style-type: none;
    display: inline;
    cursor: pointer;
    padding: 1%;
}

#menu li:hover{
    background-color: #00bfff;
    /* outra opção de feedback de seleção:
    padding-bottom: 0.4em;
    border-bottom: 0.3em solid #00bfff;
    font-weight: bold; */
}

#menu, #content{
    font-family: 'Roboto'
}

#content{
    width: 90%;
    margin: 0 auto;
    padding-top: 150px;

}

/* #id elemento:first-child é um seletor que seleciona a primeira instância do elemento dentro da divisão selecionada por id */
#content p:first-child{
    text-align: center;
}

#content img{
    width: 60%
}

#footer{
    background-color: #191970;
    width: 100%;
    height:50px;
}